<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.nsboc"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".NsbocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NsbocTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_form_list"
            android:theme="@style/NsbocTheme.NoActionBar"/>
        <activity
            android:name=".ComposeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_compose"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/NsbocTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:theme="@style/NsbocTheme.Login">
        </activity>
        <activity
            android:name=".SignatureActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_signature"
            android:parentActivityName=".ComposeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.ComposeActivity"/>
        </activity>
        <activity
            android:name=".SalonFindActivity"
            android:label="@string/title_activity_find_salon"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".SalonReviewActivity"
            android:label="@string/title_activity_review_salon"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".SalonInvestigationActivity"
            android:label="@string/title_activity_invest_salon"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".SalonNewActivity"
            android:label="@string/title_activity_review_salon"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".SalonDetailActivity"
            android:label="@string/title_activity_salon_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SalonFindActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonFindActivity"/>
        </activity>
        <activity
            android:name=".SalonNewDetailActivity"
            android:label="@string/title_activity_salon_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SalonFindActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonFindActivity"/>
        </activity>
        <activity
            android:name=".SalonInvestDetailActivity"
            android:label="@string/title_activity_salon_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SalonInvestigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonInvestigationActivity"/>
        </activity>
        <activity
            android:name=".LicenseDetailActivity"
            android:label="@string/title_activity_license_detail"
            android:parentActivityName=".SalonDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonDetailActivity"/>
        </activity>
        <activity
            android:name=".SalonCheckListActivity"
            android:label="Salon Checklist"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SalonFindActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonFindActivity"/>
        </activity>
        <activity
            android:name=".LicenseeDetailActivity"
            android:label="@string/title_activity_licensee_detail"
            android:parentActivityName=".SalonDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonDetailActivity"/>
        </activity>
        <activity
            android:name=".StoreContactsEditActivity"
            android:label="@string/title_activity_store_contacts_edit"
            android:parentActivityName=".SalonDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonDetailActivity"/>
        </activity>
        <activity
            android:name=".ComplianceStartActivity"
            android:label="@string/title_activity_sanitation_compliance_button"
            android:parentActivityName=".SalonDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonDetailActivity"/>
        </activity>
        <activity
            android:name=".IssueCitationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_issue_citation"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.MainActivity"/>
        </activity>
        <activity
            android:name=".InspectionNewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_inspection_new"
            android:parentActivityName=".SalonDetailActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.SalonDetailActivity"/>
        </activity>
        <activity
            android:name=".AgencyReviewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_agency_review"
            android:parentActivityName=".InspectionNewActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.InspectionNewActivity"/>
        </activity>
        <activity
            android:name=".ComplianceFinishActivity"
            android:label="@string/title_activity_compliance_choose"
            android:parentActivityName=".ComplianceStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.ComplianceStartActivity" />
        </activity>
        <activity
            android:name=".ComplianceSummaryActivity"
            android:label="@string/title_activity_compliance_summary"
            android:parentActivityName=".ComplianceFinishActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nsboc.ComplianceFinishActivity" />
        </activity>

    </application>

</manifest>

